.traffic-light {
  background-color: black;
  border-radius: 20px;
  width: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  width: 80px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
   transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.glow {
  box-shadow: 0px 0px 9px 4px #747de8;
}
